<div id="documents_data">
  <div class="header_bar">
    <h4><%= @doc_type.capitalize -%>s you own:</h4>
    <small><%= pluralize(@documents.length, @doc_type) -%></small>
  </div>
  <div class="list">
    <ul>
      <% @documents.sort.each do |doc| -%>

          <li>
            <%= link_to doc.title, '/doclist/all', :id => 'previewlink', :remote => true %>

          </li>
      <% end -%>
    </ul>
  </div>
</div>